/* Reset de Estilos Padrão */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* Corpo do Documento */
body {
    font-family: "Nunito", sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
h1,
h2,
h3 {
    margin-bottom: 1rem;
    font-weight: 700;
}

.cadastrocliente {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(144, 0, 0);
}

/* Botões */
.btn {
    font-weight: 600;
}

/* Formulários */
.form-label {
    font-weight: 600;
}

/* Tabela */
.table {
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Barra de Rolagem */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

/* Botões de Ação */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Estilo para Hover */
.btn:hover {
    opacity: 0.85;
}

/* Espaçamento Vertical para Inputs e Seleções */
.input-group,
.form-select {
    margin-bottom: 1rem;
}

/* Alinhamento Vertical de Botões de Ação */
.modal-footer .btn {
    margin-top: 0.5rem;
}

/* Margem Inferior para Títulos de Seção */
.section-title {
    margin-bottom: 2rem;
}
